@font-face {
  font-family: "TX-02";
  src: url("/fonts/tx-02-regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "TX-02";
  src: url("/fonts/tx-02-oblique.woff2") format("woff2");
  font-weight: 400;
  font-style: oblique;
  font-display: swap;
}

body {
  font-family: "TX-02", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 400;
}

ul {
  padding-left: 1em;
}
